@if (Movies is null)
{
    <p>Loading....</p>
}
else
{
<div>
    <p>Delete movie</p>
    <input type="checkbox" @bind="state_displayButton" />

</div>
    @foreach (var movie in Movies)
    {
        <IndividualMovie Movie="movie" DisplayButton="state_displayButton" />
    }
}

@code
{

    [Parameter] public List<Movie> Movies { get; set; }
    bool state_displayButton = false;
    
}
