@page "/"

<h1>@ironman.Title</h1>
<h3>@ironman.ReleaseDate.ToString("dd/mm/yy")</h3>

@code{

    Movie ironman = new Movie()
    {
        Title = "Iron Man",
        ReleaseDate = new DateTime(2009, 2, 4)
    };


}