@page "/"

<p>Hello, @getName("viet")</p>

<p> Number of clicks @_num_of_click</p>

<p>@_text</p>

<button class="btn btn-primary" @onclick="@(()=>ChangeText())">Click Me</button>

@code{
    private string _name;
    private int _result;
    private string _text;
    private int _num;
    private int _num_of_click;

    public string getName(string name)
    {
        return _name = name.ToUpper();
    }

    public int getResult(int number)
    {
        int result = 0;
        for(int i = 0; i < number; i++)
        {
            result = i;
        }
        return _result = result;
    }

    public void ChangeText()
    {
        _num++;
        _num_of_click++;

        if (_num == 1)
        {
            _text = "Stark";
        }
        else if (_num == 2)
        {
            _text = "Iron Man";
        }
        else if (_num == 3)
        {
            _text = "Thor";
        }
        else
        {
            _text = "Default";
            _num = 0;
        }
        

    }

}