@page "/"


    <div>

        <h1>Top Hit</h1>
        <MovieList Movies="movies"/>

    </div>

    <div>
        <DummyTextInput type="text" placeholder="Interstellar" />
    </div>

@code{

    List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        
        await Task.Delay(300);

        movies = new List<Movie>()
        {
            new Movie() { Title = "Inception", ReleaseDate = new DateTime(2009, 1, 6) },
        };
    }
}