@page "/"


    <div>

        <h1>Top Hit</h1>
        <MovieList Movies="movies"/>

    </div>

@code{

    List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        // wait 300 miliseconds
        await Task.Delay(300);

        movies = new List<Movie>()
        {
            new Movie() { Title = "Inception", ReleaseDate = new DateTime(2009, 1, 6) },
        };
    }
}